:root {
    /******** App ********/

    /* DS variables */
    --shadow-lg-grey-800: rgba(29, 41, 57, 0.10);
    --on-border-grey-300: #D0D5DD;
    --on-background-light-placeholder-grey-400: #98A2B3;
    --primary-border-purple-300: #A696F6;
    --on-shadow-focus: #C3B9F9;

    /* Application-wide background, app-wide text color, app-wide font, app-wide text transform */
    --ts-var-root-background: #FFFFFF;
    /* --ts-var-root-color: #1D232F; */
    /* --ts-var-root-font-family: Optimo-Plain, Helvetica Neue, Helvetica, Arial, sans-serif;
    --ts-var-root-text-transform: initial; */

    /******** Top navigation panel ********/
    /*Font color and background color of the navigation panel*/
    /* --ts-var-nav-color: #F7F5FF;
    --ts-var-nav-background: #163772; */

    /******** Buttons ********/
    /* Application-wide button design for main buttons. For example, Search data*/
    --ts-var-button-border-radius: 4px;

    /* Application-wide button design for smaller buttons. For example, buttons with share and favorite icons*/
    --ts-var-button--icon-border-radius: 4px;

    /* Primary buttons: For example, the Go button in the search bar, the Pin and Save buttons on the search results page */
    --ts-var-button--primary-color: #ffffff;
    --ts-var-button--primary-background: #5234ED;
    --ts-var-button--primary--hover-background: #3513DB;

    /* Secondary buttons. For example, the Edit and Explore buttons on the Liveboard page*/
    --ts-var-button--secondary-color: #5234ED;
    --ts-var-button--secondary-background: #FFFFFF;
    --ts-var-button--secondary--hover-background: #F2F4F7;

    /* Tertiary buttons. For example, the Undo, Redo buttons on the search results page*/
    --ts-var-button--tertiary-color: #1D232F;
    --ts-var-button--tertiary-background: #FFFFFF;
    --ts-var-button--tertiary--hover-background: #EAEDF2;

    /******** Visualizations ********/
    /* Visualization title text customization*/
    --ts-var-viz-title-color: #303030;
    /* --ts-var-viz-title-text-transform: Capitalize; */

    /* Visualization subtitle and description text customization*/
    /* --ts-var-viz-description-color: #C26232; */
    /* --ts-var-viz-description-text-transform: Capitalize; */

    /* Visualization tile customization*/
    --ts-var-viz-border-radius: 10px;
    /* --ts-var-viz-box-shadow: 0px 4px 16px 0px rgba(29, 41, 57, 0.10); */
    --ts-var-viz-background: #ffffff;
}

/* Pinboard header */
.pinboard-header-module__pinboardHeaderContainer {
    box-shadow: none !important;
}

/* override border for all buttons, and then remove it on primary ones,
because there is no way to add border with TS variables by now */
button {
    border: 1px solid var(--primary-border-purple-300) !important;
}

.button-module_primary {
    border: none !important;
}

/* Button secondary */
.button-module__secondary {
    background: var(--ts-var-button--secondary-background) !important;
    color: var(--ts-var-button--secondary-color) !important;
    border: 1px solid var(--primary-border-purple-300) !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
}

.button-module__secondary:hover {
    background: var(--ts-var-button--secondary--hover-background) !important;
    color: var(--ts-var-button--secondary-color) !important;
    border: 1px solid var(--primary-border-purple-300) !important;
}

/* Pinboard cards */
.react-grid-item {
    background: #ffffff !important;
    border: 0.5px solid #e0e0e0 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.react-grid-item:hover {
    border: 0.5px solid #e0e0e0 !important;
    box-shadow: 0px 4px 16px 0px var(--shadow-lg-grey-800) !important;
}

/* Fix hovering on pinboards height */
/* description goes down because buttons have 1px border */
.flex-layout-module__vertical:first-of-type {
    min-height: 30px !important;
}

/* Inputs*/
/* input {
    background: none !important;
    border-radius: 4px !important;
    border: 1px solid var(--on-border-grey-300) !important;
    color: var(--on-background-light-placeholder-grey-400) !important;
    font-size: 16px !important;
    line-height: 24px !important;
    min-height: 40px !important;
    padding: 8px 12px 8px 12px !important;
    transition-property: background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform;
    transition-duration: 200ms;
}

input:active{
    border: 1px solid var(--ts-var-button--primary-background) !important;
    box-shadow: 0px 0px 0px 3px var(--on-shadow-focus) !important;
    color: var(--on-background-light-placeholder-grey-400) !important;
    font-style: normal !important;
} */

